
default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  encoding: unicode


development:
  <<: *default
  database: arupakahp

 
test:
  <<: *default
  database: arupakahp


production:
  <<: *default
  database: arupakahp
  username: arupakahp
  password: <%= ENV['ARUPAKAHP_DATABASE_PASSWORD'] %>
